@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker');

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-size: cover;
	background-color: #241500;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1em;
}

footer {
	background-color: #434547;
    color: #4f953b;
    text-align: center;
    border: 1px black solid;
    padding: .2em;
    width: 100%;
    max-height: 10%;
}

img {
	max-width: 100%;
}

#logo {
	width: 100%;
	background-color: #FFF;
}

#logo img {
	display: block;
	width: 100%;
	min-width: 25%;
	min-height: 25%;
	max-width: 50%;
	max-height: 50%;
	margin: 0 auto;
}


.header {
	text-align: center;
	color: #000;
	width: 100%;
	font-size: 1.25em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	background-color: #FFF;
	max-height: 25%;
}

.align-right {
	display: inline-block;
	float: right;
	margin-top: 1em;
	width: 50%;
	padding: .5em;

}

.images{
	display: inline-block;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
}

.navbar2 {
	width: 100%;
	height: 50%;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4f953b;
    font-family: 'Lato', sans-serif;
}

.navlink {
	display: inline;
	float: right;
	display: block;
    color: white;
    text-align: center;
    padding: .4em .6em;
    text-decoration: none;
}

.navbar2 a:hover {
	 background-color: #331E00;
	 color: orange;
}

p {
	text-align: center;
	font-size: 1.25em;
	font-family: 'Permanent Marker', cursive;
	color: #000;
}

.ptext{
	text-align: center;
	font-size: 1.25em;
	font-family: 'Permanent Marker', cursive;
	color: #4f953b;
}

.main {
	margin-right: 1em;
	margin-left: 1em;
	text-align: left;
	font-size: 1em;
	line-height: 1.5em;
	margin: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	color: #FFF;
}

.email {
	color: yellow;
    text-decoration: none;
}

a.email:hover {
	color: orange;
    text-decoration: underline;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1258px) {
	.align-right {
		display: block;
	}
}

@media only screen and (max-width: 580px) {
	
	.navbar2 {
		float: none;
	}
  
}